{#
/**
 * @file
 * Default theme implementation for a breadcrumb trail.
 *
 * Available variables:
 * - breadcrumb: Breadcrumb trail items.
 *
 * @ingroup templates
 */
#}
{% if breadcrumb %}
    <div class="breadcrumb-wrapper">
        <div class="container">
            <ul class="breadcrumb">
                {% for item in breadcrumb %}
                    <li {{ item.attributes }}>
                        {% if item.url %}
                            <a href="{{ item.url }}">{{ item.text }}</a>
                        {% else %}
                            {{ item.text }}
                        {% endif %}
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
{% endif %}
