{{ entity }}


{#<div {{ attributes }}>#}
  {#<div class='container homepage-slideshow-wrapper'>#}
    {#<div class='row'>#}
      {#<div class='col-md-12'>#}
        {#<div>#}
          {#{{ entity }}#}
        {#</div>#}
      {#</div>#}
    {#</div>#}
  {#</div>#}
{#</div>#}