{% extends "block--bare.html.twig" %}
{#
/**
 * @file
 * Theme override for tabs.
 *
 * @ingroup templates
 */
#}
{% block content %}
  {% if content %}
    <div class='local_tasks_background'>
      <div class='container'>
        <div class='row'>
          <nav class="tabs" role="navigation" aria-label="{{ 'Tabs'|t }}">
            {{ content }}
          </nav>
        </div>
      </div>
    </div>
  {% endif %}
{% endblock %}
